body {
    background-image: url('images/halloween-bg.webp');
  }

.nav-txt {
    color: orange;
}

.main-txt {
    text-align: center;
    margin-top: 15px;
    color: orange;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.home-img {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 2px solid #ff9100;;
}

.home-img:hover {
    box-shadow: 0 0 11px rgb(255, 255, 255); 
}

.home-info {
    color: orange;
    font-size: 24px;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 15px;
    background-color: black;
}

.home-btn {
    text-align: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
  }

  .container {
    text-align: center;
  }

.index-img {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 2px solid #ff9100;;
}

.index-img:hover {
    box-shadow: 0 0 11px rgb(255, 255, 255); 
}

.img-description {
    color: orange;
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.sch-txt {
    color: orange;
    text-align: center;
    font-family: "Ga Maamli", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
}

.sch-img {
    transition: box-shadow .3s;
    border-radius:10px;
    border: 2px solid #ff9100;;
    margin: 15px;
}